<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap" rel="stylesheet">
    <title>Pin Pals: Servidores</title>
    <style>

        body {
            width: 100%;
            background: url(../images/homer_arbuste.png);
            font-family: 'Nunito Sans', sans-serif;
            background-color: #36393f;
            color: white;
        }
        body, h2, p {
            margin: 0;
            padding: 0;
        }

        section{
            margin: 4%;
        }

        img.profile-picture {
            border-radius: 50%;  
            border: 3px solid #40444b; 
        }


        h2 {
            margin-bottom: 10px;
            font-size: 20px;
            color: #8e9297;
        }

        button {
            font-size: 14px;
            padding: 10px 10px; /* Añadir padding horizontal */
            background: #3F51B5;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
        }

        button:hover {
            background-color: #303F9F;
        }

        input[type="text"],
        input[type="number"] {
            padding: 5px;
            border: none;
            border-radius: 3px;
            background-color: #40444b;
            color: white;
            margin-bottom: 10px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .vertical-section {
            flex: 1;
            min-width: 300px;
            margin-right: 20px;
            padding: 20px;
            background-color: #2f3136;
            border-radius: 5px;
        }

        .server, .channel, .message {
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        .server {
            background-color: #202225;
        }

        .channel {
            background-color: #40444b;
        }

        .message {
            background-color: #40444b;
        }

        @media (max-width: 600px) {
            .vertical-section {
                flex-basis: 100%;
                margin-bottom: 20px;
            }
        }

        button.delete {
            background-color: #F44336;
        }

        button.delete:hover {
            background-color: darkred;
        }


    </style>
</head>

<body>
</div>
<div id="loadingDiv" style="position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.9); display:none; z-index:9999;">
    <img src="../static/images/loading.gif" alt="" style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width: 100px; height: auto;">
</div>
<script src="../static/js/loading.js"></script>


    <section>
        <div class="container">
            <div class="vertical-section">
                <h2>INFORMACIÓN DE USUARIO</h2>
                <label for="userId">ID de usuario:</label>
                <input type="number" id="userId" name="userId">
                <button onclick="getUserInfo()">¡Dame las drogas lisa!</button>
                <div id="userInfo">
            <!-- Aquí se insertarán los datos del usuario -->
            </div>
            <p id="serverMessage" style="color: #F44336;"></p>
            <div id="allServers" style="color: white;"></div>
        </div>

        <div class="vertical-section">
            <h2>SERVIDORES</h2>
            <div id="serverInfo">
            <!-- Los servidores del usuario se cargarán aquí -->
            </div>
            <form id="add-server-form">
                 <input type="text" id="name" placeholder="Nombre del Servidor" required>
                 <input type="hidden" id="ownerId">
                 <button type="submit">Agregar servidor</button>
            </form>
        </div>


        <div class="vertical-section">
             <h2>CANALES</h2>
             <p style="font-size: 13.5px; color: #FBC02D;vertical-align: middle;">Seleccione un servidor para ver los canales</p>
             <div id="channelsInfo">
            </div>
            <form id="channel-form">
                 <input type="text" id="channelName" placeholder="Nombre del Canal" required>
                 <input type="hidden" id="serverId">
                 <button type="submit">Agregar canal</button>
             </form>
        </div>
    </section>
    

<script>
    const baseURL = 'http://127.0.0.1:5000';

    async function getUserInfo() {
        try {
            const userId = document.getElementById('userId').value;
            const response = await fetch(`${baseURL}/users/${userId}`);
            if (!response.ok) {
                throw new Error('Error fetching user info');
            }
            const data = await response.json();

            let profilePictureHTML = data.ProfilePicture 
                ? `<img src="${data.ProfilePicture}" alt="Profile Picture" width="100" height="100" class="profile-picture" />`
                : '<p>No profile picture available</p>';

            document.getElementById('userInfo').innerHTML = `
                <p>Username: ${data.Username}</p>
                <p>Email: ${data.Email}</p>
                ${profilePictureHTML}
            `;

            document.getElementById('ownerId').value = userId;
            await getServers(userId); 
        } catch (error) {
            console.error(error);
        }
    }


    async function getAllServers(userId) {
    try {
        const response = await fetch(`${baseURL}/servers`);
        if (!response.ok) throw new Error('Error fetching all servers');
        const allServers = await response.json();

        let allServersHTML = '<h3>Servidores disponibles:</h3>';
        allServers.forEach(server => {
            allServersHTML += `<p>${server.Name} 
            <button onclick="joinServer(${userId}, ${server.ID})">Unirse</button></p>`;
        });

        document.getElementById('allServers').innerHTML = allServersHTML;
    } catch (error) {
        console.error(error);
    }
}

async function joinServer(userId, serverId) {
    try {
        const response = await fetch(`${baseURL}/server-members/${serverId}/members`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ ServerID: serverId, UserID: userId })
        });

        if (!response.ok) throw new Error('Error joining server');
        const data = await response.json();

        alert('Te has unido al servidor con éxito');
        getUserInfo();  // Actualiza la información del usuario para reflejar el cambio
    } catch (error) {
        console.error('Error:', error);
        alert('Error al unirse al servidor');
    }
}



    async function getServers(userId) {
    try {
        const response = await fetch(`${baseURL}/servers`);
        if (!response.ok) throw new Error('Error fetching servers');
        const servers = await response.json();

        const userServers = servers.filter(server => server.OwnerID == userId);

        let serverInfoHTML = '';
        userServers.forEach(server => {
            serverInfoHTML += `
                <div class="server">
                    <p>Server Name: ${server.Name}</p>
                    <button onclick="getChannels(${server.ID})">View Channels</button>
                    <button onclick="deleteServer(${server.ID})" class="delete">Eliminar Servidor</button> 
                    <div id="channelsForServer${server.ID}"></div>
                </div>
            `;
        });

        document.getElementById('serverInfo').innerHTML = serverInfoHTML;

        const serverMessageElement = document.getElementById('serverMessage');
        const allServersElement = document.getElementById('allServers'); 
        if (userServers.length === 0) {
            serverMessageElement.textContent = 'Usted no pertenece a ningún servidor';
            await getAllServers(userId); 
        } else {
            serverMessageElement.textContent = '';
            allServersElement.innerHTML = ''; 
        }
    } catch (error) {
        console.error(error);
    }
}



async function getUserServers(userId) {
    try {
        const response = await fetch(`${baseURL}/server-members/${userId}/servers`);
        if (!response.ok) throw new Error('Error fetching user servers');
        const userServers = await response.json();
        return userServers.map(server => server.ServerID);  // Cambiado para devolver solo IDs de servidores
    } catch (error) {
        console.error(error);
        return [];
    }
}


async function deleteServer(serverId) {
    try {
        const response = await fetch(`${baseURL}/servers/${serverId}`, {
            method: 'DELETE',
        });

        if (!response.ok) throw new Error('Error deleting server');
        alert('Servidor eliminado con éxito');
        const userId = document.getElementById('userId').value;
        getUserInfo();  // Actualiza la información del usuario para reflejar el cambio
    } catch (error) {
        console.error('Error:', error);
        alert('Error al eliminar el servidor');
    }
}





    async function getChannels(serverId) {
        try {
            document.getElementById('serverId').value = serverId; 
            const response = await fetch(`${baseURL}/channels/by_server/${serverId}`);
            if (!response.ok) throw new Error('Error fetching channels');
            const channels = await response.json();

            if (channels.message) {
                document.getElementById(`channelsForServer${serverId}`).innerHTML = '<p>No channels found for this server.</p>';
                return;
            }

            let channelInfoHTML = '';

            channels.forEach(channel => {
                channelInfoHTML += `
                    <div class="channel">
                        <p>Channel Name: ${channel.Name}</p>
                        <button onclick="getMessages(${channel.ID})">View Messages</button>
                        <div id="messagesForChannel${channel.ID}"></div>
                        <input type="text" id="newMessageContent${channel.ID}" placeholder="Type a message" />
                        <button onclick="addMessage(${channel.ID})">Send Message</button>
                    </div>
                `;
            });

            document.getElementById('channelsInfo').innerHTML = channelInfoHTML;
        } catch (error) {
            console.error(error);
        }
    }

    async function getMessages(channelId) {
    try {
        const response = await fetch(`${baseURL}/messages`);
        if (!response.ok) throw new Error('Error fetching messages');
        const messages = await response.json();

        let messageInfoHTML = '';

        for (let message of messages) {
    if (message.ChannelID == channelId) {
        // Obtiene la información del usuario que envió el mensaje
        const userResponse = await fetch(`${baseURL}/users/${message.UserID}`);
        if (!userResponse.ok) throw new Error('Error fetching user info');
        const userData = await userResponse.json();

        // Asegúrate de que los campos Username y Email existan en la respuesta
        if (userData.Username && userData.Email) {
            messageInfoHTML += `<div class="message">
                <img src="${userData.ProfilePicture || 'default-image-url'}" alt="Profile Picture" width="30" height="30" class="profile-picture" />
                <p><strong>${userData.Username} (${userData.Email}):</strong> ${message.Content}</p>
            </div>`;
        } else {
            console.error('Username and Email fields are missing in the user data', userData);
        }
    }
}

        document.getElementById(`messagesForChannel${channelId}`).innerHTML = messageInfoHTML;
    } catch (error) {
        console.error(error);
    }
}


    async function addMessage(channelId) {
        try {
            const content = document.getElementById(`newMessageContent${channelId}`).value;
            const userId = document.getElementById('userId').value;

            const response = await fetch(`${baseURL}/messages/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    Content: content,
                    UserID: userId,
                    ChannelID: channelId
                })
            });

            if (response.ok) {
                alert('Mensaje enviado');
                getMessages(channelId);
                document.getElementById(`newMessageContent${channelId}`).value = '';
            } else {
                console.error('Error al enviar el mensaje:', response.statusText);
                alert('Error al enviar el mensaje');
            }
        } catch (error) {
            console.error(error);
        }
    }

    document.getElementById('add-server-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const name = document.getElementById('name').value;
        const ownerId = document.getElementById('ownerId').value;

        fetch(`${baseURL}/servers/`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    Name: name,
                    OwnerID: ownerId
                })
            })
            .then(response => response.json())
            .then(data => {
                alert("Servidor agregado con éxito");
                document.getElementById('name').value = '';
                getUserInfo();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    document.getElementById('channel-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const name = document.getElementById('channelName').value;
        const serverId = document.getElementById('serverId').value;

        fetch(`${baseURL}/channels/`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    Name: name,
                    ServerID: serverId
                })
            })
            .then(response => response.json())
            .then(data => {
                alert("Canal agregado con éxito");
                document.getElementById('channelName').value = '';
                getChannels(serverId);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
<footer style="text-align: center;">
    <img src="../static/images/bombe.png" alt="Descripción de la imagen" width="100" height="100">
</footer>


</body>

</html>
